# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
**/Dockerfile.*
**/Dockerfile.*
*.log

# Env variables files
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Others
*.sqlite3
*.db
